<div class="shadow p-3 mb-5 bg-white rounded">
  <form [formGroup]="taskForm"  (ngSubmit)="onSubmit()" >
    <div class="form-group row no-gutters" >
      <label for="first_name"  class="col-sm-2 col-form-label">Task</label>
    

      <div class="col-sm-3">
        <input maxlength="20"   formControlName="taskName" placeholder="Task Name" id="task" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }">
        <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
          <div *ngIf="f.taskName.errors.required">Task Name is required</div>
          <div *ngIf="f.taskName.errors.minlength">Minimum 4 characters required</div>
          <div *ngIf="f.taskName.errors.maxlength">Maximum 20 characters are allowed</div>
      </div>
      </div>
    </div>

    <div class="form-group row no-gutters">
      <label for="priority" class="col-sm-2 col-form-label">Priority</label>
      

      <div class="col-sm-3 mt-1">
      
         <input formControlName="priority" class="custom-range" type="range" value="0" id="priority" min="0" max="30" (input)="onRangeChange($event.target.value)" />

      </div>
      <div  class="col-sm-4">
        <span class="rangevalue">{{rangeValue}}</span>
      </div>
    </div>
    <div class="form-group row no-gutters">
    <label for="first_name" class="col-sm-2 col-form-label">Parent Task</label>
      

    <div class="col-sm-3  pb-2">
      <input  formControlName="parentTask"  
      [typeahead]="taskList"
      (typeaheadOnSelect)="onParentTaskSelect($event)"
      typeaheadOptionField="taskName"
      class="form-control">
      </div>
    </div>

    <div class="form-group row no-gutters">
     <label for="first_name" class="col-sm-2 col-form-label">Start Date </label>
     

     <div class="col-sm-3 form-group">
      <input   type="text"
      formControlName="startDate"
      placeholder="Start Date" #startdp="bsDatepicker"
      class="form-control"
      [minDate]="minStartDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      [maxDate]="maxStartDate"  
      bsDatepicker [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">



      <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
        <div *ngIf="f.startDate.errors.required">Start date is required</div>
        <div *ngIf="f.startDate.errors.mustMatch">Start date cannot be greater</div>
        </div>
    </div>
    <div class="col-sm-4" style="color:rgb(10, 135, 238);">
      <i class="fa fa-calendar fa-2x" (click)="startdp.toggle()" aria-hidden="true"></i>

    </div>
        
      </div>
   

    <div class="form-group row no-gutters">
      <label for="first_name" class="col-sm-2 col-form-label">End Date </label>
     

      <div class="col-sm-3 form-group">
        <!-- <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> -->
        <input  
        placeholder="End Date"
        formControlName="endDate"  #enddp="bsDatepicker"
        class="form-control"      [minDate]="minEndDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        [maxDate]="maxEndDate" 
        bsDatepicker [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
          <div *ngIf="f.endDate.errors.required">End date is required</div>
          <div *ngIf="f.endDate.errors.mustMatch">End date cannot be less than startDate</div>
          </div>
      </div>
      <div class="col-sm-4" style="color: rgb(10, 135, 238);">
        <i class="fa fa-calendar fa-2x" (click)="enddp.toggle()" aria-hidden="true"></i>
  
      </div>
    </div>

    <div class="form-group row ">
      <label  class="col-2 col-sm-2 "></label>
     

      <div class="col-auto">
        <!-- <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> -->
        <button type="submit" [disabled]="clicked"  class="btn btn-primary">Add Task</button>
      </div>
      <div class="col-auto">
        <!-- <input type="da te" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> -->
        <button type="button" [disabled]="clicked" (click)="reset()"  class="btn btn-primary">Reset</button>
      </div>
    </div>


  </form>
 
  

</div>

<div *ngFor="let alert of alerts" style="width: 50%;">
   
  <alert   [type]="alert.type" [dismissible]="alert.dismissible" >
      <div class="spinner-grow text-primary" role="status" *ngIf="alert.type=='info'">
          <span class="sr-only">Loading...</span>
        </div>
    
    {{ alert.msg }}</alert>
</div>
<!-- <div class="align-items-start">
  Task Creation is in progress...
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div> -->