/* You can add global styles to this file, and also import other style files */
.container{
    width:85%;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
}
[hidden] {
    display: none !important;
  }